<div id='tableau' class='container'>
  <div class='columns' *ngFor='let column of tableau; let c = index'
    name='tabColumn' [attr.id]="c"
    [ngStyle]="{'border':'1px solid black'}" [attr.colIdx]="c"
    (drop)="moveservice.emptyColDrop($event)" (dragover)="moveservice.testDragOver($event)">
    <div class='cards' *ngFor='let card of column; let r = index; last as isLast'
      [ngStyle]="{'background-image':'url('+ card.getImg() +')',
        'margin-top':r*30+'px', 'position':'absolute'}"
      [attr.row-index]="r" [attr.col-index]="c" 
      id='{{card.id}}' [draggable]='card.faceUp'
      (click)="moveservice.click($event)" (drag)="moveservice.tabDrag($event)"
      (drop)="moveservice.drop($event)" (dragover)="moveservice.dragOver($event)"
      
      >
    </div> 
  </div>
</div>
