[name='table'] {
    height: 600px;
    width: 900px;
    border: 2px solid black;
    margin-left: 50px;
    float: left;
}

#deck {
    float: right;
    margin-right: 75px;
    height: 80px;
    width: 60px;
    
}

#tableau0 {
    float: right;
    position: relative;
    height: 600px;
    width: 515px;
    top: 120px;
}

#found {
    float: left;
    position: relative;
    top: 90px;
    left: 50px;
}

#waste {
    float: right;
    margin-right: 30px;
    height: 80px;
    width: 60px;
    background-color: peachpuff;
    border: 1px solid black;
    position: relative;
}

#header {
    color: aquamarine;
    
}

#sidebar {
    float: left;
    height: 300px;
    width: 200px;
    border: 1px solid yellow;
    position: relative;
    right: 315px;
    left: 300px;
}
