#mainContainer {
    background-color: rgb(130, 240, 255);
    height: 300px;
    width: 200px;
}

.button {
    height: 90px;
    width: 150px;
    background-color: azure;
    float: top;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    

}
