/* You can add global styles to this file, and also import other style files */
.cards {
    height: 80px;
    width: 60px;
    background-size: cover;

}

#deck > div[class="cards"] {
    position: absolute;
}
html {
    background-color: cornsilk;
    
}

.foundHolders {
    margin-bottom: 10px;
}